

<div class="content">

    <p>
        Setting up RForge is simple. Follow the below steps to add RForge Blazor components to your project.
    </p>

    <ol>
        <li>Install the Nuget package</li>
        <li>Import the namespaces (optional)</li>
        <li>Include Bulma CSS</li>
    </ol>



</div>


