@page "/double-click/details"

<ComponentDetail Title="Double Click"
                 PlaygroundUrl="/double-click/playground"
                 SubTitle="A double-click previewer">

    <RepoLinks>
        @ComponentDetail.SideLink(("RfDoubleClick.razor.cs", TagInfo.Razor, "https://github.com/Rumhyek/RForge/blob/main/src/RForge/RForgeBlazor/RfDoubleClick.razor.cs"))
    </RepoLinks>

    <Purpose>
        <div class="content">
            <p>
                <code>RfDoubleClick</code> is a Blazor component that detects double-click events seperate from single-clicks.
                It allows you to easily handle double-click interactions in your Blazor applications.
            </p>
        </div>
    </Purpose>

    <BasicUsage>
        <div class="content">
            
        </div>
    </BasicUsage>

    <Setup>
        <BasicSetupDetails />
    </Setup>
</ComponentDetail>


