
<nav class="navbar is-primary has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            RForge
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">

            <NavLink class="navbar-item" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>

            <NavLink class="navbar-item" href="counter">
                Counter
            </NavLink>

            <NavLink class="navbar-item" href="data-grid">
                Data Grid
            </NavLink>

            <NavLink class="navbar-item" href="notification-manager">
                Note Manager
            </NavLink>

            <NavLink class="navbar-item" href="modal">
                Modal
            </NavLink>

            <NavLink class="navbar-item" href="dialog">
                Dialog
            </NavLink>

            <NavLink class="navbar-item" href="double-click">
                Double Click
            </NavLink>

            <NavLink class="navbar-item" href="dropdown">
                Drop Down
            </NavLink>

            <NavLink class="navbar-item" href="markdown">
                Markdown
            </NavLink>
            <NavLink class="navbar-item" href="treeview">
                Treeview
            </NavLink>
            <NavLink class="navbar-item" href=context-menu>
                Context Menu
            </NavLink>

            <NavLink class="navbar-item" href="tabs">
                Tabs
            </NavLink>

        </div>
    </div>
</nav>