@page "/component-listing"


<HeroSection Title="RForge Component List"
             SubTitle="A list of all components within the library" />

<div class="container">
    <div class="breadcrumb mt-2" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">RForge</a></li>
            <li class="is-active"><a href="/component-listing" aria-current="page">Components</a></li>
        </ul>
    </div>

    <div class="columns">

        <div class="column">
            <section class="section">
                <h3 class="is-size-3 subtitle">RForge</h3>

                <div class="columns">

                    <div class="column">
                        <div class="menu">
                            <p class="menu-label">General Components</p>
                            <ul class="menu-list">
                                <li><a href="/context-menu/details">Context Menu</a></li>
                                <li><a href="/double-click/details">Double Click</a></li>
                                <li><a href="/markdown/details">Markdown</a></li>
                            </ul>

                            <p class="menu-label mt-5">Data Components</p>
                            <ul class="menu-list">
                                <li><a href="/data-grid/details">Data Grid</a></li>
                                <li><a href="/dropdown-single/details">Single Drop Down</a></li>
                                <li><a href="/dropdown-multi/details">Multi Drop Down</a></li>
                                <li><a href="/treeview/details">Tree View</a></li>
                            </ul>

                            <p class="menu-label mt-5">Modals</p>
                            <ul class="menu-list">
                                <li><a href="/basic-modal/details">Modal (Basic)</a></li>
                                <li><a href="/image-modal/details">Modal (Image)</a></li>
                                <li><a href="/card-modal/details">Modal (Card)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="menu">
                            <p class="menu-label">Global Services</p>
                            <ul class="menu-list">
                                <li><a href="/notification-manager/details">Notification Manager</a></li>
                                <li><a href="/dialog-manager/details">Dialog Manager</a></li>
                            </ul>

                            <p class="menu-label mt-5">Helpers</p>
                            <ul class="menu-list">
                                <li><a href="/rf/details#rf-class">Concat Classes</a></li>
                                <li><a href="/rf/details#rf-classwhen">Concat Classes When</a></li>
                                <li><a href="/rf/details#rf-stylewhen">Concat Styles When</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="column">
            <section class="section">
                <h3 class="subtitle is-size-3">Bulma</h3>
                <div class="columns">
                    <div class="column">
                        <div class="menu">

                            <p class="menu-label">Layout</p>
                            <ul class="menu-list">
                                <li><a href="https://bulma.io/documentation/columns">Columns</a></li>
                                <li><a href="https://bulma.io/documentation/layout/container/">Container</a></li>
                                <li><a href="https://bulma.io/documentation/helpers/flexbox-helpers/">Flexbox</a></li>
                                <li><a href="https://bulma.io/documentation/grid/smart-grid/">Grid (Smart)</a></li>
                                <li><a href="https://bulma.io/documentation/grid/fixed-grid/">Grid (Fixed)</a></li>
                                <li><a href="https://bulma.io/documentation/layout/level/">Level</a></li>
                                <li><a href="https://bulma.io/documentation/layout/section/">Section</a></li>
                            </ul>

                            <p class="menu-label mt-5">Elements</p>
                            <ul class="menu-list">
                                <li><a href="https://bulma.io/documentation/elements/block">Block</a></li>
                                <li><a href="https://bulma.io/documentation/elements/box">Box</a></li>
                                <li><a href="https://bulma.io/documentation/elements/content">Content</a></li>
                                <li><a href="https://bulma.io/documentation/elements/delete">Delete</a></li>
                                <li><a href="https://bulma.io/documentation/elements/icon">Icon</a></li>
                                <li><a href="https://bulma.io/documentation/elements/image">Image</a></li>
                                <li><a href="https://bulma.io/documentation/form/general/">Forms</a></li>
                                <li><a href="https://bulma.io/documentation/elements/notification">Notification</a></li>
                                <li><a href="https://bulma.io/documentation/elements/progress">Progress Bars</a></li>
                                <li><a href="https://bulma.io/documentation/elements/table">Table</a></li>
                                <li><a href="https://bulma.io/documentation/elements/tag">Tag</a></li>
                                <li><a href="https://bulma.io/documentation/elements/title">Title</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="menu">

                            <p class="menu-label">Components</p>
                            <ul class="menu-list">
                                <li><a href="https://bulma.io/documentation/components/breadcrumb">Breadcrumb</a></li>
                                <li><a href="https://bulma.io/documentation/components/card">Card</a></li>
                                <li><a href="https://bulma.io/documentation/components/dropdown">Dropdown</a></li>
                                <li><a href="https://bulma.io/documentation/components/menu">Menu</a></li>
                                <li><a href="https://bulma.io/documentation/components/message">Message</a></li>
                                <li><a href="https://bulma.io/documentation/components/modal">Modal</a></li>
                                <li><a href="https://bulma.io/documentation/components/navbar">Navbar</a></li>
                                <li><a href="https://bulma.io/documentation/components/pagination">Pagination</a></li>
                                <li><a href="https://bulma.io/documentation/components/panel">Panel</a></li>
                                <li><a href="https://bulma.io/documentation/components/tabs">Tabs</a></li>
                            </ul>
                            <p class="menu-label mt-5">Other</p>
                            <ul class="menu-list">
                                <li><a href="https://bulma.io/documentation/helpers/spacing-helpers/">Spacing helpers</a></li>
                                <li><a href="https://bulma.io/documentation/helpers/typography-helpers/">Typography helpers</a></li>
                                <li><a href="https://bulma.io/documentation/features/skeletons/">Skeleton</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>



    </div>
</div>