@page "/"

<PageTitle>Home</PageTitle>

<HeroSection Title="RForge"
             SubTitle="A light weight Blazor library using Bulma"
             Size="Abstractions.HeroSectionSize.Large"
             HeroCss="hero-splash"
             ContainerCssClass="has-text-centered"
             SpaceTitle=true />


<div class="container">
    <article class="section">

        <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet ">
            <div class="grid is-gap-4">

                <div class="cell">
                    <CoreValue>
                        Sup
                    </CoreValue>

                </div><div class="cell">
                    <CoreValue>
                        Sup
                    </CoreValue>

                </div><div class="cell">
                    <CoreValue>
                        Sup
                    </CoreValue>

                </div>
            </div>
        </div>


    </article>
</div>
