@page "/"

<PageTitle>Home</PageTitle>

<HeroSection Title="RForge"
             SubTitle="A light weight Blazor library using Bulma"
             Size="Abstractions.HeroSectionSize.Large"
             HeroCss="hero-splash"
             ContainerCssClass="has-text-centered"
             SpaceTitle=true />


<div class="container is-fluid">

    <article class="section">
        <div class="fixed-grid has-2-cols-mobile has-4-cols-tablet">
            <div class="grid is-gap-4">

                <div class="cell">
                    <CoreValue ColorCss="is-primary"
                               IconCss="fa-solid fa-scale-balanced"
                               Title="Light Weight">
                        <MessageContent>
                            Focused on small file size
                        </MessageContent>
                    </CoreValue>
                </div>
                <div class="cell">
                    <CoreValue ColorCss="is-warning"
                               IconCss="fa-solid fa-database"
                               Title="Memory Effecient">
                        <MessageContent>
                            Conscious of memory usage
                        </MessageContent>
                    </CoreValue>
                </div>
                <div class="cell">
                    <CoreValue ColorCss="is-info"
                               IconCss="fa-solid fa-scale-balanced"
                               Title="True UI Components">
                        <MessageContent>
                            Keeping business logic out of the UI
                        </MessageContent>
                    </CoreValue>
                </div>
                <div class="cell">
                    <CoreValue ColorCss="is-success"
                               Title="Bulma">

                        <IconContent>
                            <img style="height: 1.75em; width: auto;" src="https://bulma.io/assets/brand/Bulma%20Icon.svg" />
                        </IconContent>
                        <MessageContent>
                            Pure Modern CSS Framework
                        </MessageContent>

                    </CoreValue>

                </div>
            </div>
        </div>
    </article>


</div>
