@page "/"

<PageTitle>Home</PageTitle>

<HeroSection Title="RForge"
             SubTitle="A light weight Blazor library using Bulma"
             Size="Abstractions.HeroSectionSize.Large"
             ContainerCssClass="has-text-centered"
             SpaceTitle=true />


<h1>Hello, world!</h1>

Welcome to your new app.
