@page "/tree-design"


    <PageTitle>Tree Design</PageTitle>


    <aside class="menu rf-treeview">

        <p class="menu-label">Tree Design</p>
        <p class="menu-label">Tree Design</p>
        <ul class="menu-list">

            <li>
                @*LEAF NODE*@
                <a class="tree-node" href="/tree-design">
                    <span class="node-icon"><i class="fa-solid fa-list" /></span>
                    <span class="node-label">Leaf Node </span>
                </a>
            </li>
            <li>
                <a class="tree-node" href="/tree-design">
                    <span class="node-icon"><i class="fa-solid fa-chevron-right" /></span>
                    <span class="node-label">Leaf Node </span>
                </a>
            </li>
            <li>
                <a class="tree-node" href="/tree-design">
                    <span class="node-icon"></span>
                    <span class="node-label">Leaf Node </span>
                </a>
            </li>
            <li>
                <a class="tree-node" href="/tree-design">
                    <span class="node-icon"><i class="fa-solid fa-list" /></span>
                    <span class="node-label">Leaf Node </span>
                </a>
            </li>
            <li>
                <a class="tree-node is-active" href="/tree-design">
                    <span class="node-icon"><i class="fa-solid fa-list" /></span>
                    <span class="node-label">Leaf Node </span>
                </a>
            </li>
            <li>
                <a class="tree-node" href="/tree-design">
                    <span class="node-icon"><i class="fa-solid fa-chevron-right" /></span>
                    <span class="node-label">Leaf Node </span>
                </a>
            </li>
            <li>
                <div class="tree-node is-active" href="/tree-design">
                    <button type="button" class="node-icon"><i class="fa-solid fa-chevron-down" /></button>
                    <a class="node-label">Inner Node</a>
                </div>
                <ul>

                    <li>
                        <a class="tree-node" href="/tree-design">
                            <span class="node-icon"><i class="fa-solid fa-list" /></span>
                            <span class="node-label">Leaf Node </span>
                        </a>
                    </li>

                    <li>
                        <a class="tree-node" href="/tree-design">
                            <span class="node-icon"><i class="fa-solid fa-list" /></span>
                            <span class="node-label">Leaf Node </span>
                        </a>
                    </li>

                    <li>
                        <div class="tree-node" href="/tree-design">
                            <button type="button" class="node-icon"><i class="fa-solid fa-chevron-down" /></button>
                            <a class="node-label">Inner Node</a>
                        </div>
                        <ul>
                            <li>
                                <a class="tree-node" href="/tree-design">
                                    <span class="node-icon"><i class="fa-solid fa-list" /></span>
                                    <span class="node-label">Leaf Node </span>
                                </a>
                            </li>

                            <li>
                                <a class="tree-node" href="/tree-design">
                                    <span class="node-icon"><i class="fa-solid fa-list" /></span>
                                    <span class="node-label">Leaf Node </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="tree-node" href="/tree-design">
                            <span class="node-icon"><i class="fa-solid fa-list" /></span>
                            <span class="node-label">Leaf Node </span>
                        </a>
                    </li>
                    <li>
                        <p class="menu-label">Tree Design</p>
                    </li>
                    <li>
                        <p class="menu-label">Tree Design</p>
                    </li>

                    <li>
                        <a class="tree-node" href="/tree-design">
                            <span class="node-icon"><i class="fa-solid fa-list" /></span>
                            <span class="node-label">Leaf Node </span>
                        </a>
                    </li>

                </ul>
            </li>

        </ul>

    </aside>