@inherits RfModalBase

<div class="modal @modalCss" style="@modalStyles">
    <div class="modal-background"></div>
    <div class="modal-content @modalContentCss">
        <div class="box">
            @ChildContent
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @onclick="OnCloseClick"></button>
</div>


@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private async Task OnCloseClick()
    {
        await IsVisibleChanged.InvokeAsync(false);
    }
}