
@if (Details == null)
{
    <div class="notification is-skeleton">
    </div>
}
else
{
    <div class="notification @ColorCssClass">

        @if (Details.Options.ShowCloseButton == true)
        {
            <button class="delete" @onclick="OnCloseClick"></button>
        }

        @if (string.IsNullOrWhiteSpace(Details.Options.Icon) == false)
        {
            <div class="columns">
                <div class="column is-narrow">
                    <span class="icon">
                        <i class="@Details.Options.Icon"></i>
                    </span>
                </div>
                <div class="column">
                    @Details.DisplayFragment

                </div>
            </div>
        }
        else
        {
            @Details.DisplayFragment
        }
    </div>
}