@using RForge.Abstractions.Notifications

@implements IDisposable



@if (Messages != null)
{
    <CascadingValue Value="this">
        @foreach (var location in Messages)
        {
            if (location.Value.Count > 0)
            {
                <div class="notification-container @LocationCssClass(location.Key)">
                    @foreach (var notification in location.Value)
                    {
                        <RfNotificationManagerNotification Details="@notification" />
                    }
                </div>
            }
        }
    </CascadingValue>
}

@code {

    public static RenderFragment MessageOnly(string message) => __builder =>
    {
        @message
    };

    public static RenderFragment MessageAndTitle((string Message, string Title) notification) => __builder =>
    {
        <div class="block"><strong>@notification.Title</strong></div>
        @notification.Message
    };


}
