@using RForge.Abstractions.Notifications

@implements IDisposable

@if (Messages != null)
{
    <CascadingValue Value="this">
        @foreach (var location in Messages)
        {
            if (location.Value.Count > 0)
            {
                <div class="notification-container @LocationCssClass(location.Key)">
                    @foreach (var notification in location.Value)
                    {
                        <RfNotificationManagerNotification Details="@notification" />
                    }
                </div>
            }
        }
    </CascadingValue>
}

@code {

    /// <summary>
    /// The default template for a message only notification.
    /// </summary>
    /// <param name="message">The message to show in the notification.</param>
    public static RenderFragment MessageOnly(string message) => __builder =>
    {
        @message
    };

    /// <summary>
    /// The default template for a notifcation with a message and title.
    /// </summary>
    /// <param name="notification">A tuple (message, title)</param>
    public static RenderFragment MessageAndTitle((string Message, string Title) notification) => __builder =>
    {
        <div class="block is-size-5"><strong>@notification.Title</strong></div>
        @notification.Message
    };


}
