
<p class="menu-label @CssClass @Rf.ClassWhen(("is-skeleton", Context?.ShowAsPrerender == true))">
    @ChildContent
    @if (Context?.ShowAsPrerender == true && ChildContent == null)
    {
        <span>&nbsp;</span>
    }
</p>