
.menu-list .button.is-expand-button {
    --bulma-menu-list-link-padding: var(--rf-menu-expand-button-padding-vertical) calc(var(--rf-menu-expand-button-padding-horizontal));
    --bulma-button-padding-horizontal: var(--rf-menu-expand-button-padding-vertical) calc(var(--rf-menu-expand-button-padding-horizontal));
    display: inline-block;
    width: var(--rf-menu-expand-button-width);
    text-align: center;
}

.menu-list a.no-expand-label {
    padding-left: var(--rf-menu-no-expand-padding-left);
}

.menu-list a.is-expand-label {
    padding-left: calc(var(--rf-menu-expand-button-padding-horizontal));
}

ul {
    display: none;
}

    ul.is-open {
        display: block;
    }

.menu-list .button.is-active {
    --bulma-button-h: var(--bulma-menu-item-h);
    --bulma-button-s: var(--bulma-menu-item-s);
    --bulma-button-l: var(--bulma-menu-item-l);
    --bulma-button-color-l: var(--bulma-menu-item-color-l);
}

.menu-list .with-left-expand .button.is-active {
    border-radius: var(--bulma-menu-item-radius) 0 0 var(--bulma-menu-item-radius);
}

.menu-list .with-left-expand a.is-active {
    border-radius: 0 var(--bulma-menu-item-radius) var(--bulma-menu-item-radius) 0;
}

.menu-list a.is-skeleton {
    background-color: var(--bulma-skeleton-background);
    border-radius: var(--bulma-skeleton-radius);
    display: block;
}

    .menu-list a.is-skeleton:last-child {
        margin-bottom: var(--bulma-menu-nested-list-margin);
    }
