@page "/dropdown-single/example/basic-example"
@rendermode InteractiveAuto

@using RForgeDocs.Abstractions

<div class="columns">
    <div class="column is-4">
        <article class="section">
            <div class="box">
                
            </div>
        </article>
    </div>
    <div class="column">
        <article class="section">

            <div class="content">
                <p>
                    <code>RfDropDown</code> makes use of Bulma
                    <a href="https://bulma.io/documentation/components/dropdown/" target="_blank">drop down</a>.
                </p>

            </div>
        </article>
    </div>
</div>

@code {


}
