@page "/basic-modal/details/example/basic-example"
@using RForgeDocs.Abstractions
<ExampleDetail Title="Basic Example"
               SubTitle="Basic Modal"
               ComponentName="Basic Modal"
               PageSourceUrl="@RForgeHelpers.RepoDocsUrl("/RForgeDocs.Client/Pages/Examples/BasicModal/BasicExamplePage.razor")"
               ComponentDetailsUrl="/basic-modal/details" />

<div class="container">

</div>
@code {

}
