@page "/double-click"
@rendermode InteractiveAuto

<PageTitle>Double Click</PageTitle>

<h1>Double Click</h1>

<p role="status">Current count: @currentCount</p>
<div>
    Click once for 1 twice for 10.
</div>

<div>
    <RfDoubleClick class="button is-primary" OnClick="IncrementCount" OnDoubleClick="IncrementDoubleCount">Click Me</RfDoubleClick>
</div>

<RfDoubleClick class="button is-primary" OnClick="IncrementCount" OnDoubleClick="IncrementDoubleCount" Element="a">A TAG</RfDoubleClick>
<br />
<RfDoubleClick class="button is-primary" OnClick="IncrementCount" Element="div">SINGLE CLICK ONLY</RfDoubleClick>
<br />
<RfDoubleClick class="button is-primary" OnDoubleClick="IncrementDoubleCount" Element="div">DOUBLE CLICK ONLY</RfDoubleClick>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void IncrementDoubleCount()
    {
        currentCount += 10;
    }
}
