@page "/treeview"

@rendermode InteractiveServer

@using RForgeBlazor

@using RForgeTest.Client.TestModels

<section class="section">
    <div class="container is-max-tablet">

        <div class="checkboxes block">
            <label class="checkbox">
                <input type="checkbox" @bind=AllowSelection />
                Allow Selection
            </label>

            <label class="checkbox">
                <input type="checkbox" @bind=AllowExpand />
                Allow Expand
            </label>
        </div>

        <div class="buttons block">
            <button type="button" class="button" @onclick=OnLoadUsers>Load Users</button>
            <button type="button" class="button" @onclick=ClearUsers>Clear Users</button>
        </div>

    </div>
</section>

<section class="section">
    <div class="container is-max-desktop">
        <div class="columns">

            <div class="column">
                <h1 class="subtitle">Loaded User Data</h1>
                <RfTreeView TTreeItemData=UserRowData AllowSelection=AllowSelection AllowExpand=AllowExpand ShowAsPrerender=@(RootUsers == null)>

                    <PrerenderNodes>

                        <RfTreeLabel />
                        <RfTreeList>
                            <RfTreeNode TTreeItemData="UserRowData">
                                <Children>
                                    <RfTreeNode TTreeItemData="UserRowData" />
                                    <RfTreeNode TTreeItemData="UserRowData">
                                        <Children>
                                            <RfTreeLabel />
                                            <RfTreeNode TTreeItemData="UserRowData" />
                                            <RfTreeNode TTreeItemData="UserRowData" />
                                            <RfTreeNode TTreeItemData="UserRowData" />

                                        </Children>
                                    </RfTreeNode>
                                    <RfTreeNode TTreeItemData="UserRowData" />
                                </Children>
                            </RfTreeNode>
                        </RfTreeList>
                        
                    </PrerenderNodes>

                    <Nodes>
                        <RfTreeLabel>Global</RfTreeLabel>
                        <RfTreeList>

                            @foreach (var user in RootUsers)
                            {
                                @TreeBuilder(user)
                            }

                        </RfTreeList>
                    </Nodes>

                </RfTreeView>
            </div>
            <div class="column">
                <h1 class="subtitle">Prerender Structure Match</h1>
                <RfTreeView TTreeItemData=UserRowData>

                    <Nodes>
                        <RfTreeLabel>Title</RfTreeLabel>
                        <RfTreeList>
                            <RfTreeNode TTreeItemData="UserRowData" ShowExpandIcon="true" IsExpanded="true">
                                <Node>Node 1</Node>
                                <Children>
                                    <RfTreeNode TTreeItemData="UserRowData">
                                        <Node>Node 1.1</Node>
                                    </RfTreeNode>
                                    <RfTreeNode TTreeItemData="UserRowData" ShowExpandIcon="true" IsExpanded="true">
                                        <Node>Node 1.2</Node>
                                        <Children>
                                            <RfTreeLabel>Title</RfTreeLabel>

                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.2.1</Node>
                                            </RfTreeNode>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.2.2</Node>
                                            </RfTreeNode>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.2.3</Node>
                                            </RfTreeNode>
                                        </Children>
                                    </RfTreeNode>
                                    <RfTreeNode TTreeItemData="UserRowData" ShowExpandIcon="true" IsLoading="true">
                                        <Node>Node 1.2</Node>
                                        <Children>
                                            <RfTreeLabel>Title</RfTreeLabel>

                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.2.1</Node>
                                            </RfTreeNode>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.2.2</Node>
                                            </RfTreeNode>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.2.3</Node>
                                            </RfTreeNode>
                                        </Children>
                                    </RfTreeNode>
                                    <RfTreeNode TTreeItemData="UserRowData">
                                        <Node>Node 1.3</Node>
                                    </RfTreeNode>
                                    <RfTreeNode TTreeItemData="UserRowData" ShowExpandIcon="true" IsExpanded="true">
                                        <Node>Node 1.4</Node>
                                        <Children>

                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Some lab list</Node>
                                            </RfTreeNode>
                                            <RfTreeLabel>Categories</RfTreeLabel>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.4.2</Node>
                                            </RfTreeNode>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.4.3</Node>
                                            </RfTreeNode>
                                            <RfTreeLabel>Categories</RfTreeLabel>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.4.2</Node>
                                            </RfTreeNode>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.4.3</Node>
                                            </RfTreeNode>
                                            <RfTreeNode TTreeItemData="UserRowData" ShowExpandIcon="true" IsExpanded="true">
                                                <Node>Node 1.2</Node>
                                                <Children>
                                                    
                                                    <RfTreeNode TTreeItemData="UserRowData">
                                                        <Node>Node 1.2.1</Node>
                                                    </RfTreeNode>
                                                    <RfTreeNode TTreeItemData="UserRowData">
                                                        <Node>Node 1.2.2</Node>
                                                    </RfTreeNode>
                                                    <RfTreeNode TTreeItemData="UserRowData">
                                                        <Node>Node 1.2.3</Node>
                                                    </RfTreeNode>
                                                </Children>
                                            </RfTreeNode>

                                            <RfTreeLabel>Categories</RfTreeLabel>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.4.2</Node>
                                            </RfTreeNode>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.4.3</Node>
                                            </RfTreeNode>
                                            <RfTreeLabel>Categories</RfTreeLabel>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.4.2</Node>
                                            </RfTreeNode>
                                            <RfTreeNode TTreeItemData="UserRowData">
                                                <Node>Node 1.4.3</Node>
                                            </RfTreeNode>
                                        </Children>
                                    </RfTreeNode>

                                </Children>
                            </RfTreeNode>
                        </RfTreeList>

                    </Nodes>

                </RfTreeView>
            </div>
        </div>
    </div>
</section>

@code {

    public bool IsExpanded { get; set; } = true;

    public RenderFragment TreeBuilder(UserRowData node) => __builder =>
    {
        <RfTreeNode TTreeItemData=UserRowData
                    OnNodeClick=OnNodeClick
                    NodeData=node
                    ShowExpandIcon=@(node.Children.Count > 0)>

            <Node>@node.FirstName @node.LastName</Node>

            <Children>
                @if (node.Children != null && node.Children.Count > 0)
                {

                    @foreach (var child in node.Children)
                    {
                        @TreeBuilder(child)
                    }

                }
            </Children>

        </RfTreeNode>
    };

    public void OnNodeClick(UserRowData node)
    {
        Console.WriteLine($"Node Clicked: {node.FirstName} {node.LastName}");
    }
}